<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}Linkely{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="{% static "semantic/semantic.js" %}"></script>
    <script src="{% static "main.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>

    {% block menu %}
      {% include "menu.html" %}
    {% endblock %}

    {% block container %}
    <div class="ui main container">
      {% block content %}{% endblock %}
    </div>
    {% endblock %}
  </body>
</html>


