<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="{% static "semantic/semantic.js" %}"></script>
  </head>
<body>

{% include "links/menu.html" %}

<p>Welcome, {{ user.username }}. <a href="{% url 'logout' %}">Log out.</a></p>

<form action="{% url 'links:add' %}" method="post">
{% csrf_token %}
<div class="ui input">
  <input type="text" name="url" id="url" placeholder="Enter article URL here.">
</div>
</form>

<form action="{% url 'links:search' %}" method="get">
<div class="ui icon input">
  <input type="text" name="q" id="q" value="{{ search_query }}" placeholder="Search..." />
  <i class="search icon"></i>
</div>
</form>
