<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="{% static "semantic/semantic.js" %}"></script>
  </head>
  <body>

<p>Welcome, {{ user.username }}. <a href="{% url 'logout' %}">Log out.</a></p>

<form action="{% url 'links:add' %}" method="post">
{% csrf_token %}
<input type="text" name="url" id="url" placeholder="Enter article URL here." />
<input type="submit" value="Add" class="ui button" />
</form>

<form action="{% url 'links:search' %}" method="get">
<input type="text" name="q" id="q" placeholder="Search for keywords." value="{{ search_query }}" />
<input type="submit" value="Search" />
</form>
