{% extends "base.html" %}
{% load humanize %}

{% block content %}
  {% if latest_articles %}
    <div class="ui items">
      {% for article in latest_articles %}
        {% include "links/article_list_item.html" %}
      {% endfor %}
    </div>
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="/?page={{ page_obj.previous_page_number }}">
                <i class="angle left icon transparent"></i>
              </a>
          {% endif %}
          <span class="page-current">
              {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
              <a href="/?page={{ page_obj.next_page_number }}">
                <i class="angle right icon transparent"></i>
              </a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% else %}
    <p>No articles here :( Please add something interesting.</p>
  {% endif %}
{% endblock %}
