<div class="ui fixed inverted menu">
  <div class="ui stackable four column grid">
    <div class="column">
      <a href="#" class="header item">
        <!--<img class="logo" src="assets/images/logo.png">-->
        <i class="book icon"></i>
        Linkely
      </a>
    </div>

    <div class="column">
      <div class="item">
        <form action="{% url 'links:add' %}" method="post">
          {% csrf_token %}
          <div class="ui input mini inverted transparent">
            <input type="text" name="url" id="url" placeholder="Add article URL">
          </div>
        </form>
      </div>
    </div>

    <div class="column">
      <div class="item">
        <form action="{% url 'links:search' %}" method="get">
          <div class="ui icon input mini inverted transparent">
            <input type="text" name="q" id="q" value="{{ search_query }}" placeholder="Search..." />
            <i class="search icon inverted"></i>
          </div>
        </form>
      </div>
    </div>

    <div class="column">
      <div class="item"><a href="{% url 'logout' %}">Log out {{ user.username }}</a></div>
    </div>
  </div>
</div>
